
p, h1, h2, a, li, div, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #6D5B97;
  color: #fff;
}
nav {
  background-color: #58575C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
nav a {
  text-decoration: none;
  color: white;
  margin: 1em;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
}
nav li a:after{
  background: transparent;
  content: "";
  display: block;
  height:2px;
  width: 0;
  transition: width .5s ease, background-color .4s ease;
}
nav li a:hover:after, nav li a:focus:after {
  width: 100%;
  background: #fff;
}

h2 {
  margin: 1em;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.welcome {
  align-self: center;
  padding: 1em;
}
/*Projects*/
#projects h2 {
  margin-left: 3em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  max-width: 400px;
  padding: 2% 0;
  overflow: hidden;
  margin: 2px;
  background: #58575C;
  color: white;
  transition: all 1.5ms ease;
}

.grid-card p a {
  color: #fff;
}

.grid-card img {
  width: 95%;
  height: 75%;
  z-index: 5;
  transition: all .5ms ease;
  background: black;
  border: solid #58575C 10px;
}

.grid-card:hover > img {
  opacity: 0.08;
  transition: opacity 1.5ms ease;
}

.grid-card:hover > .card-info {
  z-index: 10;
  opacity: 1;
  left: 2.5%;
  transition: all .8s ease;
}

.card-info {
  color: #fff;
  height: 100%;
  left: -200px;
  opacity: 0;
  position: absolute;
  top: 10px;
  transition: opacity 1s ease;
  z-index: 0;
}

/* .card-line since :after doesn't work on img*/
.card-line {
  width: 100%;
  background: transparent;
}

.card-line:after{
  background: transparent;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition: width 1.5s ease;
}

.grid-card:hover .card-line:after {
  background: white;
  width: 100%;
}
.card-title {
 padding: 3px;
}
/*.codepen {
  width: 400px;
  height: 300px;
}
*/

/*contact form*/

#h1 {
  margin: 0;
  text-align: center;
}
.modal {
  align-items: flex-start;
  background-color: rgb(109,91,151);
  background-color: rgba(109,91,151, 0.5);
  display: none;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.modal-content {
  align-items: center;
  background-color: rgb(109,91,151);
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

form{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.close {
  align-self: flex-end;
  background-color: rgb(109,91,151);
  border: none;
  color: #fff;
  margin: 25px;
  font-size: 2em;
}
.control {
  margin: 10px 25px;
  width: 300px;
}
.holder {
  text-align: center;
  transition: width 200ms ease-in;
  z-index: 2;
}
.holder:focus {
  text-align: left;
}
.holder, input {
  background-color: #A9ABA6;
  color: #000;
  display: block;
  font-size: 14px;
  padding: 10px;
  position: relative;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
.items {
  height: 150px;
}
input {
  font-family: "Courier";
  padding-left: 0;
  padding-right: 0;
  margin-left: 80px;
  margin-bottom: -40px;
  width: calc(100% - 80px);
  top: -40px;
  outline: 0;
  border: none;
}

.error {
  border-color: red;
  z-index: 22;
}

.error-message {
  z-index: 25;
  color: red;
  font-style: italic;
}
.submit {
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #A9ABA6;
  color: black;
  width: 300px;
  border: none;
  margin: 10px 0;
}
#success {
  display: flex;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform 1s ease-in;
  z-index: 5;
}

#success.grow {
  transform: scale(1);
}

.slideDown {
  animation: slideDown 0.9s ease;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(4%);
	}
	65%{
		transform: translateY(-2%);
	}
	80%{
		transform: translateY(2%);
	}
	95%{
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(0%);
	}
}
@media (min-width:600px) {
  #contactMini {
    display: none;
  }
}
/*nav*/
@media (max-width:599px) {
  .btnCall, .btnForm {
    display: block;
  }
  .buttonContainer {
    position: fixed;
    top: 2%;
    right: 3%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }
  .buttonContainer.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
  }
  .buttonContainer.active .middle {
    opacity: 0;
  }
  .buttonContainer.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
  }
  .buttonContainer span {
    background: #fff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }
  .buttonContainer span:nth-of-type(2) {
    top: 11px;
  }
  .buttonContainer span:nth-of-type(3) {
    top: 22px;
  }

  #nav {
    flex-flow: row nowrap;
    visibility: hidden;
  }
  #nav.open {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2em;
    left: 0;
    padding-top: 2em;
    position: relative;
    top: 0;
    visibility: visible;
    width: 100%;
  }
  .dropItem {
    margin-left: 10px;
  }
  #contactMe {
    display: none;
  }

  .welcome {
    align-self: center;
  }
  #projects h2 {
  text-align: center;
}
}
